@import "compass/typography/lists/bullets";

body.blueprint.article article {
    > header {
        @include clearfix;
        .published, h1{
            @include column(11);
            @include prepend(1);
        }
        .published {
            margin-bottom: 0px;
            font-weight: bold;
        }
        #share_buttons {
            @include column(10);
            @include last;
            margin-left: -1em;
            margin-top: 0.7em;
        }
        .translations {
            @include column(12);
            @include last;
            margin-top: -1.5em;
        }
        .tags {
            @include column(11);
            @include prepend(1);
            margin-top: -1.5em;
        }
    }
    > h1 {
        font-size: 2em;
        margin-bottom: 0.75em;
    }
    > h2 {
        font-size: 1.5em;
        line-height: 1;
        margin-bottom: 1em;
    }
    > h3 {
        font-size: 1.2em;
        line-height: 1.25;
        margin-bottom: 1.25em;
    }

    ul, li ul, ol, li ol,
    li p {
        margin-bottom: 0.8em;
    }
}

body.blueprint article.summary {
    > header {
        @include clearfix;
        .published {
            @include column(3);
            @include prepend(0);
            text-align: center;
            font-weight: bold;
        }
        h1 {
            @include column(21);
            @include prepend(0);
            @include last;
        }
        .translations {
            display: inline;
            font-size: 0.5em;
            position: relative;
            top: -1em;
        }
    }
}

body.blueprint {
    form.yaform__form table {
        margin-bottom: 0px;
    }

    div.cloud {
        @include clearfix;

        ul {
            @include column(18);
            @include prepend(3);
            @include append(3);
            @include last;
            @include no-bullet;

            li {
                margin-right: 0.5em;
                float: left;
            }
            .tag-1 {
                font-size: 3em;
                line-height: 1;
            }
            .tag-2 {
                font-size: 2em;
                line-height: 1.5;
            }
            .tag-3 {
                font-size: 1.5em;
                line-height: 2;
            }
            .tag-4 {
                font-size: 1em;
                line-height: 3;
            }
        }
    }
}

