<!DOCTYPE html>
<html lang="{% block lang %}{% endblock %}">
    <head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link href="{{ SITEURL }}/theme/css/pygment.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ SITEURL }}/theme/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ SITEURL }}/theme/css/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if lt IE 8]>
            <link href="{{ SITEURL }}/theme/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link href="{{ SITEURL }}/feeds/all" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} (все посты)" />
        <link href="{{ SITEURL }}/feeds/all-en" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} (english posts only)" />
        <link href="{{ SITEURL }}/feeds/all-ru" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} (посты на русском)" />
    </head>
    <body class="{% block bodyclass %}blueprint{% endblock %}">
        <div class="container">
            <header>
                <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
                {% if SITESUBTITLE %}<h2>{{ SITESUBTITLE }}</h2>{% endif %}
                <nav>
                    <ul class="categories">
                        {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/category/{{ cat }}/">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="pages">
                    {% for p in pages %}
                        <li {% if page and p.slug == page.slug %}class="active"{% endif %}><a href="{{ SITEURL }}/pages/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                    </ul>
                </nav>
            </header>

            {% block content %}{% endblock %}

            <footer><div class="copyright vcard">Author <a class="fn url" href="http://dev.svetlyak.ru">Alexander Artemenko</a>, <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">some rights reserved</a>. Powered by <a href="http://alexis.notomyidea.org/pelican/">pelican</a></div></footer>
        </div>
        {% if DEBUG %}
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/modulargrid_debug.js"></script>
        {% endif %}
    </body>
</html>
