<!DOCTYPE html>
<html lang="{% block lang %}{% endblock %}">
    <head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link href="{{ SITEURL }}/theme/css/pygment.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ SITEURL }}/theme/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ SITEURL }}/theme/css/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if lt IE 8]>
            <link href="{{ SITEURL }}/theme/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link href="{{ SITEURL }}/feeds/all" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} (все посты)" />
        <link href="{{ SITEURL }}/feeds/all-en" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} (english posts only)" />
        <link href="{{ SITEURL }}/feeds/all-ru" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} (посты на русском)" />

        {% if GOOGLE_ANALYTICS %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}
    </head>
    <body class="{% block bodyclass %}blueprint{% endblock %}">
        <div class="container">
            <header>
                <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
                {% if SITESUBTITLE %}<h2>{{ SITESUBTITLE }}</h2>{% endif %}
                <nav>
                    <ul class="categories">
                        {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/category/{{ cat }}/">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="pages">
                    {% for p in pages %}
                        <li {% if page and p.slug == page.slug %}class="active"{% endif %}><a href="{{ SITEURL }}/pages/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                    </ul>
                </nav>
            </header>

            {% block content %}{% endblock %}

            <footer><div class="copyright vcard">Author <a class="fn url" href="http://dev.svetlyak.ru">Alexander Artemenko</a>, <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">some rights reserved</a>. Powered by <a href="http://alexis.notomyidea.org/pelican/">pelican</a></div></footer>
        </div>
        {% if DEBUG %}
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/modulargrid_debug.js"></script>
        {% endif %}
        {% if YANDEX_METRIKA %}
        <!-- Yandex.Metrika counter -->
        <div style="display:none;"><script type="text/javascript">
        (function(w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter{{ YANDEX_METRIKA }} = new Ya.Metrika({{ YANDEX_METRIKA }});
                     yaCounter{{ YANDEX_METRIKA }}.clickmap(true);
                     yaCounter{{ YANDEX_METRIKA }}.trackLinks(true);
                } catch(e) {}
            });
        })(window, 'yandex_metrika_callbacks');
        </script></div>
        <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
        <noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/2910592" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        {% endif %}
    </body>
</html>
