{% extends "base.html" %}

{% block title %}{{ page.title }} — {{ super() }}{%endblock%}

{% block bodyclass %}{{ super() }} page{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ page.title }}</h1>
            <p class="translations">
            {% for translation in page.translations %}
                <a href="{{ SITEURL }}/pages/{{ translation.url }}">{{ translation.lang }}</a>
            {% endfor %}
            </p>
        </header>
        {{ page.content }}
    </article>
{% endblock %}

