{% for article in articles %}
    <article class="summary">
        <header>
            <p class="published">{{ article.date.strftime('%a %d<br/>%B %Y') }}</p>
            <h1>
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                <span class="translations">
                {%- for translation in article.translations -%}
                    <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
                {%- endfor -%}
                </span>
            </h1>
        </header>
    </article>
{% endfor %}
